main{
    /* background-color: #fba5a5; */
}
#top-nav-btns{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    gap: 15px;
    margin-top: 15px;
}